div {
  position: left;
  height: 50px;
  width: 50px;
  padding: 17px;
  margin: 2% auto;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  height: 1%;
  width: 50%;
  border: 1px solid #BB99DD;
  background-color: #ffffff;
  color: #BB99DD;
  background-color: #ffffff;
    text-align: center;
  --body-bg-color: #FAF7FD;
  --purple: #ffffff;
  border-radius: 8%;
}

img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 25%;
  border-radius: 50%;
}

br {
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
}

span {
  height: 20vmin;
  width: 50px;
  padding: 4px 60px 4px 60px;
  margin: 0 auto;
  box-sizing: 0 10px;
  margin-top: 800px;
  color: #BB99DD;

}

.box {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  height: 100%;
  width: 90%;
  border: 1px solid #BB99DD;
  background-color: #ffffff;
  color: #BB99DD;


  padding: 4px 60px 4px 60px;
}

.box2 {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  height: 100%;
  width: 90%;
  border: 1px solid #BB99DD;
  background-color: #ffffff;
  color: #BB99DD;


  padding: 4px 60px 4px 60px;
}

.box3 {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  height: 100%;
  width: 90%;
  border: 1px solid #BB99DD;
  background-color: #ffffff;
  color: #BB99DD;


  padding: 4px 35px 4px 60px;
}

.box4 {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  height: 100%;
  width: 90%;
  border: 1px solid #BB99DD;
  background-color: #ffffff;
  color: #BB99DD;


  padding: 4px 45px 4px 60px;
}

.box5 {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  height: 100%;
  width: 90%;
  border: 1px solid #BB99DD;
  background-color: #ffffff;
  color: #BB99DD;
  margin-bottom: 1px;
  padding: 4px 55px 4px 60px;
}

p {

  font-family: 'Courier New', Courier, monospace;
}

section {
  margin-top: 8px;
}

:root {
  --body-bg-color: #ffffff;
  --purple: #BB99DD;
}

body {

  background-color: #ffffff;

}

.imgs {
  margin-top: 0px;
  padding: 5px;

}